.signupCon {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.signCover {
  background-image: url("https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png");
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  filter: brightness(500%);
  width: 60ex;
  height: 60ex;
}

.formCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 45%;
}

.formCon * {
  margin: 10px;
}

.formCon input {
  width: 200px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
}

.signToggle {
  color: blue;
  font-size: 12px;
  text-decoration: none;
}

.signToggle:hover {
  text-decoration: underline;
}

.signToggle:visited {
  color: darkblue;
}

.signunin {
  width: 200px;
  height: 30px;
  background-color: rgb(15, 154, 251);
  border: none;
  border-radius: 20px;
  color: white;
}
